@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body{
    overflow-x: hidden;
}

.navbar{
    display: grid;
    background-color: rgb(133, 130, 0);
    padding-bottom: 10px;
}

.logo-nav-container{
    justify-self: center;
}

.logo-nav{
    width: 150px;
    height: 150px;
}

.nav-list-container{
    justify-content: center;
    display: grid;
}

.nav-list{
    list-style: none;
}

.list-item{
    font-weight: 400;
    display: inline;
    margin-inline-start: 15px;
}

.link-item{
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in;
}

.link-item:hover{
    transition: 0.5s ease-out;
    text-decoration: underline;
    font-weight: 600;
}

.icons-container{
    display: grid;
    gap: 10px;
    margin-right: 10px;
    position: absolute;
    justify-self: right;
    align-self: center;
}

.icon-usuario{
    width: 35px;
    height: 35px;
}

.icon-carrinho{
    width: 35px;
    height: 35px;
}

.icon-telefone{
    width: 35px;
    height: 35px;
}